/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #344951;
    color: #fff;
}

.figure-container {
    fill:transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}
